.App
  text-align: center

.Button
  background-color: transparent
  border: none
  color: white
  outline: none
  cursor: pointer
  font: inherit
  padding: 10px
  margin: 10px
  font-weight: bold
  &.Success
    color: #5C9210
    border: 1px solid #5C9210
  &.Danger
    color: #944317
    border: 1px solid #944317
  &:disabled
    color: #adadad
    border-color: #adadad
    cursor: not-allowed

.CheckoutSummary
  text-align: center
  width: 80%
  margin: auto
  max-width: 500px